behaviors:
    RTSBrain: # Unity'deki Behavior Name ile aynı olmalı
        trainer_type: ppo
        hyperparameters:
            batch_size: 2048
            buffer_size: 20480
            learning_rate: 3.0e-4
            beta: 5.0e-3
            epsilon: 0.2
            lambd: 0.95
            num_epoch: 3
            learning_rate_schedule: linear
        network_settings:
            normalize: true
            hidden_units: 512
            num_layers: 3 # Karar uzayı büyük olduğu için katman sayısını 3 yaptım
            vis_encode_type: resnet # Hybrid sistemdeki gibi resnet
            memory: # Hafıza bloğu eklendi
                sequence_length: 64
                memory_size: 256
        reward_signals:
            extrinsic:
                gamma: 0.99
                strength: 1.0
            curiosity: # Keşif desteği eklendi
                gamma: 0.99
                strength: 0.02
                network_settings:
                    hidden_units: 256
        max_steps: 1000000
        time_horizon: 128
        summary_freq: 1000
