behaviors:
  RTSBrain:
    trainer_type: ppo

    hyperparameters:
      batch_size: 128
      buffer_size: 1280
      learning_rate: 1.0e-4
      beta: 1.0e-3
      epsilon: 0.2
      lambd: 0.95
      num_epoch: 5

    network_settings:
      normalize: true
      hidden_units: 256
      num_layers: 2
      vis_encode_type: simple

    reward_signals:
      extrinsic:
        gamma: 0.99
        strength: 0.1

      gail:
        gamma: 0.99
        strength: 3.0
        network_settings:
          normalize: true
          hidden_units: 128
          num_layers: 2
        learning_rate: 5.0e-5
        use_actions: true
        use_vail: false
        demo_path: Assets/Demonstrations/beterDemoTryv3.demo

    behavioral_cloning:
      strength: 10.0
      demo_path: Assets/Demonstrations/beterDemoTryv3.demo
      steps: 500000
      batch_size: 64
      num_epoch: 20
      samples_per_update: 256

    max_steps: 1000000
    time_horizon: 64
    summary_freq: 500
